@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');




body {
        background-image: url(img/back.jpg);
        margin: auto;
        width: 100%;
    }
    
.All {
    
    content: '';
    position: relative;
    background-color: white;
    width: 600px;
    height: 750px;
    left: 26rem;
    top: 20px;
    border: 5px;
    border-style: double;
    border-color: saddlebrown;
    border-radius: 5px;
    
    
    
    
}

.logo {
    
    position: absolute;
    width: 100px;
    right:16rem; 
    padding-top: 5px;
    
    
    
}

.All p {
    
    position: absolute;
    color: brown;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    right: 120px;
    top: 50px;
    
    
    
}



.All span :hover{
    
    
    color: white;
    
    
    
    
}


.All span {
    
    
    position: absolute;
    top: 150px;
    
    
    
}

.All span ul li {
    
    
    text-align: center;
    list-style: none;
    
}

.All span ul {
    
    
    position: absolute;
    left: 45px;
    margin:0;
    padding: 0;
    
    
    
    
}
    
    button {
        font-size: 30px;
        width: 500px;
        height: 60px;
        cursor: pointer;
        border-radius:30px;
        border-color: white;
    }

 
button:hover {
    
    
      background-color: saddlebrown
    
    
    
}


.All h2 {
    
    position: absolute;
    color: saddlebrown;
    font-family: 'Comforter Brush', cursive;
    left: 28px;
    top: 42rem;
    
    
}